body {
    background-color: blueviolet;
    width: 1100px;
    height: 832px;px;
    display:inline-block;
    margin:8px;
}


figure {
    display: inline-block;
    margin: 20px
    padding:10px;
    width: 900px;
    height:900px;

}

.iconos img {
    width: 130px;
    height: 130px;
    border: 5px;
    background-color: palevioletred;
    border-style:double;
    border-color: black;
    padding:10px;
    
}
